<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisense.development.base.persistence.DepartmentMapper">
    <resultMap type="Department" id="departmentResultMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="departmentNum" column="departmentNum"/>
        <result property="manager" column="manager"/>
        <result property="telephone" column="telephone"/>
        <result property="date" column="date"/>
        <result property="displayId" column="displayId"/>
        <result property="parentDepartment" column="parentDepartment"/>
    </resultMap>
    
    
    <select id="find"  resultType="Department" resultMap="departmentResultMap">
            SELECT * from Department
                WHERE id = #{id} OR name=#{name}
    </select>


    
    <select id="findAll" resultType="com.hisense.development.base.domain.Department" resultMap="departmentResultMap">
           SELECT * from Department ORDER BY displayId
    </select>
    
    
    <select id="findChildDepartment" parameterType="Long" resultType="Department">
    SELECT * FROM Department WHERE parentDepartmentId=#{id}
    </select>
    
    
    <insert id="create" parameterType="com.hisense.development.base.domain.Department">
    INSERT INTO Department(name,departmentNum,manager,telephone,date,displayId,parentDepartmentId)
    VALUES (#{name},#{departmentNum},#{manager},#{telephone},#{date},#{displayId},#{parentDepartmentId})
    </insert>
    
    
    <update id="update" parameterType="com.hisense.development.base.domain.Department">
    UPDATE Department SET name=#{name},
    departmentNum=#{departmentNum},manager=#{manager},telephone=#{telephone},date=#{date},
    displayId=#{displayId},parentDepartmentId=#{parentDepartmentId} WHERE id=#{id}
    </update>
    
    
    <delete id="delete">
    DELETE FROM Department WHERE id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")" >
        #{item}
    </foreach>
    </delete>
    
    
    <delete id="delAll" parameterType="int">
        DELETE FROM Department 
    </delete>

    <delete id="deleteDepartment" parameterType="Long">
        DELETE FROM Department WHERE id=#{id}
    </delete>

</mapper>