<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.development.dao.RoleDao">
    <select id="findById" resultType="com.hisense.development.entity.Role">
        SELECT * FROM SYS_ROLES WHERE ID=#{id}
    </select>
    <insert id="create" parameterType="com.hisense.development.entity.Role"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
        INSERT INTO SYS_ROLES (NAME, AVAILABLE, CREATEUSERID, CREATEDATE)
        VALUES (#{name}, #{available}, #{createUser.getId()}, #{createDate})
    </insert>
    <select id="findAll" resultType="com.hisense.development.entity.Role">
        SELECT * FROM SYS_ROLES
    </select>

    <select id="find" resultType="com.hisense.development.entity.Role">
        SELECT * FROM SYS_ROLES WHERE NAME =#{name} OR ID =#{id}
    </select>

    <delete id="deleteAll">
        DELETE from SYS_ROLES
    </delete>

    <delete id="delete">
        DELETE FROM SYS_ROLES WHERE ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="com.hisense.development.entity.Role">
        update SYS_ROLES
        set NAME = #{name}, AVAILABLE = #{available},
        CREATEUSERID =#{createUser.getId()},CREATEDATE =#{createDate}
        where ID = #{id}
    </update>
</mapper>