<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.development.dao.UserDao">
    <select id="findById" resultType="com.hisense.development.entity.User">
   SELECT * FROM SYS_USERS WHERE ID=#{id}
  </select>
    <insert id="create" parameterType="com.hisense.development.entity.User"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
       INSERT INTO SYS_USERS (NAME, SEX, TELEPHONE, DEPARTMENTID,USERNAME,PASSWORD,SALT,LOCKED,DISPLAYNUM )
        VALUES (#{name}, #{sex}, #{telephone}, #{department.getId()},#{username},
        #{password},#{salt},#{locked},#{displayNum})
    </insert>
    <select id="findAll" resultType="com.hisense.development.entity.User">
        SELECT * FROM SYS_USERS
    </select>

    <select id="find" resultType="com.hisense.development.entity.User">
        SELECT * FROM SYS_USERS WHERE USERNAME=#{username} OR ID=#{id}
    </select>

    <!--<select id="find" parameterType="Long" resultType="com.hisense.development.entity.User">-->
        <!--SELECT * FROM SYS_USERS WHERE ID=#{id}-->
    <!--</select>-->

    <delete id="deleteAll">
        DELETE from SYS_USERS
    </delete>

    <delete id="delete">
        DELETE FROM SYS_USERS WHERE ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="com.hisense.development.entity.User">
        update SYS_USERS
        set SEX = #{sex},
        TELEPHONE =#{telephone},DEPARTMENTID =#{department.getId()},
        USERNAME =#{username},PASSWORD =# {password},
        SALT =#{salt},LOCKED=#{locked},
        DISPLAYNUM=#{displayNum}
        where ID = #{id}
    </update>
</mapper>